<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %>||Expolre</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
            <img src="img/HAW_hamburg-e-learning.jpg" class="logo">
            <li><a href="/">Home</a></li>
            <li><a href="/courses">Courses</a></li>
            <li><a href="/planer">Planer</a></li>
            <li><a href="/search">Search</a></li>
            <li><a href="/create">Create</a></li>
        </ul>
      </nav>
    </header>
    <h1>My Courses</h1>
    <p>This is a paragraph.</p>

  </body>
</html>