<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %>||Expolre</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
            <img src="img/HAW_hamburg-e-learning.jpg" class="logo">
            <li><a href="/">Home</a></li>
            <li><a href="/courses">Courses</a></li>
            <li><a href="/planer">Planer</a></li>
            <li><a href="/search">Search</a></li>
            <li><a href="/create">Create</a></li>
        </ul>
      </nav>
    </header>
    <div>
      <form>
        <label for="course-title">Course-title:</label>
        <input type="text" id="course-title" required>
        <label for="course-for">Course is for:</label>
        <input type="text" id="course-for" required>
        <label for="discription">Discription:</label>
        <textarea id="discription" required></textarea>
        <button>create</button>
      </form>
    </div>

  </body>
</html>