<%- include('./partials/head.ejs')%>
  
    <div class="div-event">
      <p><%= JSON.parse(value).contents %></p>
      <p><%= value%></p>
     </div>

  </body>
  <%- include('./partials/footer.ejs')%>
</html> 