<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %> ||Expolre</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header class="header">
      <nav>
        <ul>
           <img src="img/HAW_hamburg-e-learning.jpg" class="logo">
          <li><a href="/">Home</a></li>
          <li onclick="show();"><a href="/courses">Courses</a></li>
          <li id="course"><a href="/add-courses">MY Courses</a></li>
          <li id="course"><a href="/all-courses">All Courses</a></li>
          <li><a href="/planer">Planer</a></li>
          <li><a href="/search">Search</a></li>
          <li><a href="/create">Create</a></li>
        </ul>
      </nav>
    </header>
    <section class="sec-content">
      <h1><%= title %></h1>
      <div class="div-event">
        <% if (contents.length > 0){  %>
        <% contents.forEach(content=>{ %>
        <p class="title"><%= content.title %></p>

          <% if(content.content.length > 0){  %>
          <% content.content.forEach((item)=>{ %>
          <p><%= item %></p>
          <%  })%>
          <%}  %>

        <%  })%>
        <%}  %>
       </div>
    </section>
<script>
  function show(){
    var course= document.getElementById('course');
    if(course.style.display == 'hidden'){
      course.style.display == 'block'
    } else{
      course.style.display == 'hidden'
    }
     
  }

</script>
  </body>
</html>