<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %>||Expolre</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <img src="img/HAW_hamburg-e-learning.jpg" class="logo">
          <li><a href="/">Home</a></li>
          <li><a href="/courses">Courses</a></li>
          <li><a href="/planer">Planer</a></li>
          <li><a href="/search">Search</a></li>
          <li><a href="/create">Create</a></li>
        </ul>
      </nav>
    </header>
    <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=Europe%2FBerlin&mode=WEEK&src=dGhlc2hha2lsMjFAZ21haWwuY29t&src=NDk2OTA2Mzg1ZTUyMWE3OGY4NzhjYzI1NGIwMzUxOTNmYmQ3MWUyOTZlYTYwMGQ2OTdlY2EyNjY2MzA3MDkyNkBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=YjY2YmY2ZDRmOThhY2U0MmZiZGVmNzQ5ZDVmNWU5ODY5OTc3YzY5MDM5MGZjNGIxODQ2ZjIyNzZmYzViNzAxMUBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=ZGUuZ2VybWFuI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&src=ZW4uZ2VybWFuI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&color=%23039BE5&color=%23009688&color=%23B39DDB&color=%230B8043&color=%230B8043" style="border:solid 1px #777" width="100%" height="100%" frameborder="0" scrolling="no"></iframe>
    </body>
</html>