<%- include('./partials/head.ejs')%>

<div class="div-event">
  <% if (courses.length > 0){  %>
    <% courses.forEach(course=>{ %>
      <a class="single" href="course/<%= course._id %>">
      <p class="title"><%= course.title %></p>
        <p><%= course.description %></p>
      </a>
      <% })%>
  <% } %>
 </div>


  </body>
</html>